td {
    background-color: #424250;
    color: #ffffff
}

.produtos-moda {
    background-color: #bb86fc;
    color: #ffffff
}

.produtos-casa {
    background-color: #00c4b4;
    color: #ffffff
}